.embedded-system-status {
    font-weight: 700;
    padding-bottom: 0 !important;
    opacity: 0.4;

    &.recycle {
        --cs-color: var(--green-11);
    }

    &.organic {
        --cs-color: var(--yellow-11);
    }

    &.non-recycle {
        --cs-color: var(--red-11);
    }

    &.active {
        transform: scale(1.2) translateY(-2rem);
        opacity: 1;
    }

    .badge {
        align-self: center;
    }

    .title {
        color: var(--cs-color);
        display: block;
        background-color: rgb(238, 254, 239);
        padding: var(--space-2) var(--space-4);
        padding-bottom: 0px;
        margin-bottom: -8px;
        border-top-left-radius: var(--radius-3);
        border-top-right-radius: var(--radius-3);
        border: 2px solid var(--cs-color);
        border-bottom: none;
        z-index: 0;
    }

    .container {
        border: 2px solid var(--cs-color);
        padding-bottom: 100px;
        padding-top: var(--space-4);
        padding-left: var(--space-4);
        padding-right: var(--space-4);
        border-radius: var(--radius-5);
        background-color: rgb(238, 254, 239);
        min-width: 200px;
    }
}
